# Pandas Overview

* Data analysis package for use with Python
* Data structures are the fundamental elements
 * 1D - Series
 * 2D - DataFrame
* Easy to work with labeled (or relational) data in SQL tables or Excel spreadsheets
* Documentation: http://pandas.pydata.org/pandas-docs/version/0.19.1/

# Import the Pandas Package

* Must import pandas package before use
* Import as 'pd' and then call using pd.<>

In [2]:
import pandas as pd

# Import and Preview Data from File

In [9]:
df = pd.read_csv("data1.csv")

In [10]:
df.head()

   ID     Name Birthday
0   1     Matt   14-Feb
1   2    Sammy   23-Apr
2   3     Ravi   24-Aug
3   4   Donald   12-May
4   5  Bridget    9-Mar

In [11]:
df.tail(1)

   ID Name Birthday
9  10  Tom   30-Aug

# Data Structure Indexing