# Pandas Overview

* Data analysis package for use with Python
* Data structures are the fundamental elements
 * 1D - Series
 * 2D - DataFrame
* Easy to work with labeled (or relational) data in SQL tables or Excel spreadsheets
* Documentation: http://pandas.pydata.org/pandas-docs/version/0.19.1/

# Import the Pandas Package

In [1]:
import pandas as pd

# Import and Preview Data from File

In [2]:
df = pd.read_csv("data1.csv", header=None)     #import csv file

In [3]:
df.head()                         #view top 5 lines

         0       1
0     Matt  14-Feb
1    Sammy  23-Apr
2     Ravi  24-Aug
3   Donald  12-May
4  Bridget   9-Mar

In [4]:
df.tail(1)                        #view last line

     0       1
9  Tom  30-Aug

# Data Structure Indexing

In [5]:
df[0]

0       Matt
1      Sammy
2       Ravi
3     Donald
4    Bridget
5      Brett
6        Pam
7        Jon
8        Max
9        Tom
Name: 0, dtype: object

In [6]:
df.columns = ["Name", "Birthday"]

In [9]:
df.head(1)

   Name Birthday
0  Matt   14-Feb

In [10]:
df['Birthday']

0    14-Feb
1    23-Apr
2    24-Aug
3    12-May
4     9-Mar
5     8-Sep
6    22-Dec
7     6-Jun
8     7-Jan
9    30-Aug
Name: Birthday, dtype: object

In [13]:
df[ df[0] = "Matt"]

SyntaxError: invalid syntax (<ipython-input-13-52f7053d6ae5>, line 1)